# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Explanation of the params can be found in the Readme file.

DATABASE_URL="postgresql://postgres:example@localhost:5432/postgres"
GOERLI_RPC_URL=""
GOERLI_SERVICE_DID="did:ethr:0x5:<bpi_operator_public_key>"
GOERLI_SERVICE_SIGNER_PRIVATE_KEY="<bpi_operator_private_key>"
SERVICE_URL="bri-3"
BPI_NATS_SERVER_URL="localhost:4222"
BPI_NATS_SERVER_USER="bpi_operator"
BPI_NATS_SERVER_PASS="liftboiliftboiliftboiliftboi1"
BPI_ENCRYPTION_KEY_K_PARAM="yzkXp3vY_AZQ3YfLv9GMRTYkjUOpn9x18gPkoFvoUxQ"
BPI_ENCRYPTION_KEY_KTY_PARAM="oct"
SNARKJS_CIRCUITS_PATH="zeroKnowledgeArtifacts/circuits/"
VSM_CYCLE_PERIOD_IN_SECS=15
VSM_CYCLE_TX_BATCH_SIZE=5
CCSM_NETWORK="hardhat | goerli"
ALCHEMY_GOERLI_PRIVATE_KEY="<alchemy_goerli_testnet_private_key>"
ALCHEMY_URL="https://eth-goerli.g.alchemy.com/v2/<alchemy_api>"
