# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:example@localhost:5432/postgres"
GOERLI_RPC_URL=""
GOERLI_SERVICE_DID="did:ethr:0x5:0x0aE6F58120E3e53E94FeB7BFeAA11C7CFF6F70F0"
GEORLI_SERVICE_SIGNER_PRIVATE_KEY=""
SERVICE_URL="bri-3"
BPI_NATS_SERVER_URL="localhost:4222"
BPI_NATS_SERVER_USER="bpi_operator"
BPI_NATS_SERVER_PASS="liftboiliftboiliftboiliftboi1"
BPI_ENCRYPTION_KEY_K_PARAM="yzkXp3vY_AZQ3YfLv9GMRTYkjUOpn9x18gPkoFvoUxQ"
BPI_ENCRYPTION_KEY_KTY_PARAM="oct"
