<div class="row">
    <div class="col-12">
        <div class="input-group mb-3">
            <input #searchInput type="text" class="form-control" placeholder="Block Height / Transaction Hash / Address">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="onSearch(searchInput.value)">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-card title="Latest Blocks">
            <app-latest-blocks-overview></app-latest-blocks-overview>
        </app-card>
    </div>
    <div class="col-6">
        <app-card title="Latest Transactions">
            <app-latest-transactions-overview></app-latest-transactions-overview>
        </app-card>
    </div>
</div>
