{
  "extends": ["./node_modules/cod-scripts/eslint.js", "plugin:jsdoc/recommended"],
  "rules": {
    "no-underscore-dangle": "off",
    "no-console": "off"
  },
  "globals": {
    "BigInt":true
  },
  "plugins": [
    "jsdoc"
  ]
}
