<div *ngFor="let item of dataSource">
    <div class="row">
        <div class="col-12">
            <span style="display: table;">
                <span style="display: table-row;"> 
                    <span style="display: table-cell;"> Block Height: </span>
                    <span style="display: table-cell;"><a [routerLink]="['/block', item.blockHeight]" [innerText]="item.blockHeight"></a></span>
                </span>
                <span style="display: table-row;"> 
                    <span style="display: table-cell;"> Transaction Hash: </span>
                    <span style="display: table-cell;"><a [routerLink]="['/transaction', item.transactionHash]" [innerText]="item.transactionHash"></a></span>
                </span>
                <span style="display: table-row;"> 
                    <span style="display: table-cell;"> From: </span>
                    <span style="display: table-cell;"><a [routerLink]="['/address', item.from]" [innerText]="item.from"></a></span>
                </span>
                <span style="display: table-row;"> 
                    <span style="display: table-cell;"> To: </span>
                    <span style="display: table-cell;"><a [routerLink]="['/address', item.to]" [innerText]="item.to"></a></span>
                </span>
                <span style="display: table-row;"> 
                    <span style="display: table-cell;"> Quantity (ETH): </span>
                    <span style="display: table-cell;" [innerText]="item.quantity"></span>
                </span>
                <span style="display: table-row;"> 
                    <span style="display: table-cell;"> TimeStamp: </span>
                    <span style="display: table-cell;" [innerText]="item.timeStamp"></span>
                </span>
                <span style="display: table-row;"> 
                    <span style="display: table-cell;"> Status: </span>
                    <span style="display: table-cell;" [innerText]="item.status"></span>
                </span>
            </span>
        </div>
    </div>
    <hr class="hr-space"> 
</div>   
