name: bri-3

on:
  push:
    paths:
      - examples/bri-3/**
    branches:
      - feature/761-build-and-e2e-test-ci
  pull_request:
    paths:
      - examples/bri-3/**
    branches:
      - main
  workflow_dispatch:

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [16.17.0]

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: example
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

      nats:
        image: nats:alpine
        ports:
          - 4222:4222
    env:
      DATABASE_URL: "postgresql://postgres:example@localhost:5432/postgres"
      GOERLI_RPC_URL: "https://rpc.goerli.eth.gateway.fm"
      GOERLI_SERVICE_DID: "did:ethr:0x5:0xB73A16e32FE027838f9aDEf72A192AFFf45a0A9D"
      GOERLI_SERVICE_SIGNER_PRIVATE_KEY: "0x0fbdb56ab0fecb2f406fa807d9e6558baedacc1c15c0e2703b77d4c08441e4fe"
      SERVICE_URL: "bri-3"
      BPI_NATS_SERVER_URL: "localhost:4222"
      BPI_NATS_SERVER_USER: "bpi_operator"
      BPI_NATS_SERVER_PASS: "liftboiliftboiliftboiliftboi1"
      BPI_ENCRYPTION_KEY_K_PARAM: "yzkXp3vY_AZQ3YfLv9GMRTYkjUOpn9x18gPkoFvoUxQ"
      BPI_ENCRYPTION_KEY_KTY_PARAM: "oct"
      VSM_CYCLE_PERIOD_IN_SECS: 15
      VSM_CYCLE_TX_BATCH_SIZE: 5
      SNARKJS_CIRCUITS_PATH: "zeroKnowledgeArtifacts/circuits/"
      CCSM_NETWORK: "goerli"
      MERKLE_TREE_HASH_ALGH: "sha256"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup node env
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      
      - name: Install dependencies
        working-directory: examples/bri-3
        run: npm ci

      - name: Run build
        working-directory: examples/bri-3
        run: npm run build

      - name: Run prettier
        working-directory: examples/bri-3
        run: npm run format:check

      - name: Run linter
        working-directory: examples/bri-3
        run: npm run lint:check

      - name: Run tests
        working-directory: examples/bri-3
        run: npm run test

      - name: Run e2e tests
        working-directory: examples/bri-3
        run: npm run test:e2e
